@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  &:hover {
    color: inherit;
  }
}

body {
  background-color: #bbd0ff;
}

.ant-layout-sider-children {
  @apply flex flex-col;
}

.ant-layout-sider-trigger > * {
  @apply drop-shadow-sm;
}

.ant-modal-content {
  @apply bg-gradient-to-b from-[#cebdf4] to-[#a5caf5];
}

.custom-task-modal .ant-modal-content {
  background: transparent;
  box-shadow: none; 
}

.custom-task-modal .ant-modal-mask {
  background: transparent; 
}

@font-face {
  font-family: "Bebas";
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito.ttf");
}
