@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  &:hover {
    color: inherit;
  }
}

body {
  background-color: #bbd0ff;
}

@font-face {
  font-family: "Bebas";
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf");
}
